@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unauthorized Access";
}

<hgroup>
    <h1 class="text-danger">Access denied.</h1>
    <h2 class="text-danger">This page can only be accessed by accounts with administrator priviliges.</h2>
</hgroup>
